.header  {
  font-family: monospace;
  font-style:oblique;
  font-size:36px;
  display:flex;
  justify-content:center;
  font-weight:1000;
  margin-top:10px;
  margin-bottom:32px;
}

img{
width:100px;
height:auto;
}

.content{
display:flex;
flex-wrap:wrap;
gap:52px;
justify-content:center;

}

.item{
width:200px;
text-align:center;
 font-family: 'Courier New';
}

